@media screen and (max-width: 480px) {
     .header1{
        padding: 7px 20px;
    }
    .nav-bar{
        display: block;
        text-align: center;
    }
    .nav-links ul{
        display: block;
    }
    .heading{
        width: 300px;
        text-align: center;
    }
    .blocks{
        margin: 0;
        position: relative;
        display: block;
    }
    .box{
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
        border-radius:0;
    }
    .meetings{
        margin: 10px;
    }
    .meeting-boxex{
        display: block;
        width: 100%;
        margin: 0;
        
    }
    .first-meeting-box{
        width: 100%;
        border-radius: 0;
    }
    .second-meeting-box{
        display: block;
        margin-left: 0;
    }
    .apply{
        background-image: none;
        display: block;
    }
    .bachelor{
        width: 100%;
    }
    .apply-box{
        width: 100%;
    }
    .courses-box{
        display: block;
    }
    .facts{
        background-image: none;
    }
    .facts-title{
        text-align: center;
        margin: 0 ;
        width: 100%;
     }
    .facts-boxex{
        display: block;
    }
    .right-fact img{
        display: none;
    }

    .form{
        display: block;
     }
     .input{
        display: block;
     }
     .input input{
        width: 100%;
     }
     .input textarea{
        width: 100%;
     }
     .message button{
        width: 100%;
     }
    
  }